<td class="footer">
  <table class="rbcc footer__main">


    <tr>
      <table class="rbcc footer__main__col1" align="left">
        <td class="footer__main__col1__td" align="left">

          
          <strong>
            <!-- @echo contactMain -->
           </strong>
           <br />
          <!-- @echo contactSecondary -->
        </td>

        <tr>
          <td class="footer__main__signature" align="left">
           <div class="cargo"> <!-- @echo signature --><br /></div>

            <a href="https://api.whatsapp.com/send?phone=5491131731534" target="_blank"><img src="https://firmas-merco-2026.netlify.app/templates/dark/assets/hablemos.png" alt="<!-- @echo logoAlt -->" /> </a>
            <img src="https://firmas-merco-2026.netlify.app/templates/dark/assets/nos_reunimos.png" alt="<!-- @echo logoAlt -->"  />
            
          </td>
          
        </tr>

      </table>

      <table class="rbcc footer__main__col2" align="right">
        <td class="footer__main__col2__td" align="right">
          <a href="<!-- @echo website -->">
            <img src="https://firmas-merco-2026.netlify.app/templates/dark/assets/avatar-rodri.gif" alt="<!-- @echo logoAlt -->" class="footer__main__col2__td__img" />
          </a>
        </td>
      </table>

      
    </tr>
  </table>
</td>
