/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */
img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

tr {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  LINE-HEIGHT: 1;
}

.main {
  width: 100%;
  background-color: #ffffff;
}

.rbcc {
  /*
   * rbcc -> reset - border - cellspacing - cellpading
   *
   * Resets table attributes.
   */
  border: 0;
  cellpadding: 0;
  cellspacing: 0;
}

.sp {
  /* Separator tr; props are actually contained by it's inner element atm. */
}

.sp__inner {
  padding: 15px 0;
}

.spd {
  /* Separator tr (double); props are actually contained by it's inner element atm. */
}

.spd__inner {
  height: 60px;
}

a {
  text-decoration: none;
  color: #0fade1;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */
.main__welcome {
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.main__content {
  color: #000;
  padding: 10px 10px 0 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
}

/*
 * ================
 * 3. Footer styles.
 * ================
 */
.footer {
  background: #21212e;
  padding: 20px 30px 0px 30px;
  color: #f5f5f5;
  border-top: 8px solid #585858;
  border-radius: 35px 00px 80px 35px;
}

.footer a {
  color: #f5f5f5;
}

.footer--simple {
  padding-bottom: 10px;
  background-color: #ffffff;
}

.footer--simple tr td {
  color: #888;
}

.footer__main {
  /* This style property fucks up the width on OS X, needs to be *JUST* attribute */
  width: 100%;
}

.footer__main__signature {
  font-size: 24px;
  color: #f5f5f5;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: left;
  font-weight: 50;
}

.footer__main__signature p {
  font-size: 34px;
  color: #f5f5f5;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: left;
  margin-top: 0px;
  margin-bottom: -15px;
}


.footer__main__col1 {
  width: 70%;
  margin-bottom: 40px;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: left;
}

.footer__main__col1__td {
  color: #f3f3f3;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: left;
  padding-top: 15px;
}

.footer__main__col1__td > span {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer__main a > span {
  /* Revert apple blue-link style. */
  color: #f5f5f5 !important;
    font-weight: 900;
  text-decoration: none !important;
}

.footer__main__col2 {
  width: 30%;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: right;
}

.footer__main__col2__td {
  font-size: 14px;
  color: #f5f5f5;
  /* @todo gulp-inline-css doesn't parse align; it needs to be duplicated in the HTML template */
  align: right;
}

.footer__main__col2__td__img {
  border: 0;
  padding-left: 0px;

  min-width: 150px;
  max-height: 250px;
  height: auto;
  margin-right: 50px;
  margin-top: -120px;
}
